<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ProfileStructure-portlet">
        <wb-resource deploy-path="/" source-path="/docroot" tag="defaultRootSource"/>
        <property name="context-root" value="ProfileStructure-portlet"/>
        <property name="java-output-path" value="/ProfileStructure-portlet/build/classes"/>
    </wb-module>
</project-modules>
