<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="OrganisationServlet-portlet">
        <wb-resource deploy-path="/" source-path="/docroot" tag="defaultRootSource"/>
        <property name="context-root" value="OrganisationServlet-portlet"/>
        <property name="java-output-path" value="/OrganisationServlet-portlet/build/classes"/>
    </wb-module>
</project-modules>
